/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    width: 500px;
}

.icon {
    font-size: 96px;
    margin-bottom: 20px;
}

.google-icon,
.outlook-icon,
.onedrive-icon,
.dropbox-icon {
    font-size: 48px;
    margin: 10px;
}

.instructions {
    font-size: 36px;
    margin-bottom: 30px;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 30px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
}

.button:hover {
    background-color: #0056b3;
}

.copyright {
    font-size: 18px;
    margin-top: 30px;
    color: #888;
}
